body {
    background-color: #000;
    color: #fff;
}

.container {
    /* Set the container to take the full width of the page or parent element */
    width: 100%;
    /* Set the maximum width of the container to avoid stretch on large screens */
    max-width: 1240px;
    /* Center align the container horizontally */
    margin: 0 auto;
    /* Add horizontal padding to provide spacing on smaller screens */
    padding: 0 1rem;
}

pre {
    background-color: #333;
    border-radius: 4px;
    color: #b3b9c5;
    overflow: scroll;
    font-family: monospace;
    padding-left: 20px;
    padding-right: 20px;
    tab-size: 4;
    white-space: pre-wrap;     /* Wrap long lines */
    word-wrap: break-word;     /* Break long words */
    overflow-x: auto;
    margin: 1rem 0;
}

code {
    font-size: 14px;
}

.btn {
    display: inline-flex;
    background-color: #e5e5e5;
    color: #171717;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-width: 0;
    border-color: transparent;
    border-radius: 5px;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Tablets and above */
@media (min-width: 900px) {
    .cards {
        flex-direction: row;
    }
}

.card {
    flex: 1; /* Equal height and width */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
    border-radius: 8px;
    background: #171717;
    color: #fafafa;
}